@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
:root {
  --inter: 'Inter', sans-serif;

  /* DARK MODE */
  --bg-main: #120205;      /* ← DARK BACKGROUND */
  --bg-section: #1A0508;

  --text-main: #FFFFFF;
  --text-muted: #B8B8B8;
  --underline:var(--accent);
  --accent: #ff2e74;
  --accent-hover: #FF2E74;
  --blur-bg: rgba(39, 25, 25, 0.3);
  --blur-bg2: #1a0508aa;
  --blur:blur(2px);
  --card: rgba(38, 17, 17, 0.755);
}

/* 🌕 LIGHT MODE */
[data-theme="light"] {
  --bg-main: #FFFFFF;       /* ← WHITE BACKGROUND */
  --bg-section: #F4F4F4;

  --text-main: WHITE;     /* auto dark text */
  --text-muted: #555555;
  --underline:white;
  --accent: #E31B5A;
  --accent-hover: #FF2E74;
  --blur-bg: rgba(0, 0, 0, 0.40);
  --blur-bg2: #adaaaa;
  --blur:blur(2px);
  --card: rgba(196, 165, 165, 0.65);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--inter);
}

html, body {
  background: var(--bg-main);
  color: var(--text-main);
  transition: background-color 0.4s ease, color 0.4s ease;
}

/* body::after {
  content: '';
  position: fixed;
  width: 120px;
  height: 120px;
  background: radial-gradient(circle, rgba(227,27,90,0.25), transparent 70%);
  pointer-events: none;
  transform: translate(-50%, -50%);
  left: var(--mx);
  top: var(--my);
  z-index: 1;
} */

body::after {
  content: '';
  position: fixed;
  width: 140px;
  height: 140px;
  background: radial-gradient(
    circle,
    rgba(227,27,90,0.45),
    transparent 70%
  );
  pointer-events: none;
  transform: translate(-50%, -50%);
  left: var(--mx);
  top: var(--my);
  z-index: 1;
  mix-blend-mode: screen;
}
